*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Raleway', sans-serif;
}
header{
    background-color: #D1DDD1;
    height: 130px;
}

/* navbar */
nav{
    background-color: #D1DDD1;
    height: 60px;
    text-align: center;
}
    nav a{
        display: inline-block;
        width: 150px;
        padding: 20px 0px;
        text-align: center;
        color: #334639;
        text-decoration: none;
        border-bottom: 3px solid #D1DDD1;
    }
    nav a:hover{
        background-color: #B9CDC0;
        border-bottom: 3px solid #95a99c;
    }


main{
    background-color: #e9e9e9;
    min-height: 500px;
    width: 900px;
    margin: auto;
}

footer{
    background-color: #EBC7B4;
    height: 130px;
}
